<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <link href="{% static 'css/bootstrap.css' %}" type="text/css" rel="stylesheet">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="btn-group">
            <a class="btn btn-primary" href="{% url 'experiment:home' %}">Home</a>
            {% if user.is_authenticated %}
                <button class="btn btn-primary" type="button">{{ user.get_username }}</button>
                <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
                <a class="btn btn-primary" href="{% url 'experiment:signup' %}">Sign Up</a>
            {% endif %}
        </div>
    </div>
</div>
{% block content %}
    {% block beforebutton %}
    {% endblock %}
{% endblock %}

<div class="container">
    <div class="btn-group" style="padding-bottom: 5%;">
        {% block buttons %}
        {% endblock %}
    </div>
</div>

</body>
<script src="{% static 'js/bootstrap.js' %}"></script>
</html>